<div class="modal fade" id="createQuestion" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="wrap-login100">
            <form class="" action="/question/create" method="post">
                <h2 class="form-group col-sm-8 col-sm-offset-2">Create new question</h2>
                <div class="form-group col-sm-8 col-sm-offset-2">
                    <label class="control-label col-sm-3" for="question">Question:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="question" placeholder="Enter Question">
                    </div>
                </div>
                <div class="form-group col-sm-8 col-sm-offset-2">
                    <label class="control-label col-sm-3" for="idsubject">Subject:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="idsubject" placeholder="Enter idsubject">
                    </div>
                </div>
                <div class="form-group col-sm-8 col-sm-offset-2">
                    <label class="control-label col-sm-3" for="a1">Answer 1:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="a1" placeholder="Enter answer">
                    </div>
                </div>
                <div class="form-group col-sm-8 col-sm-offset-2">
                    <label class="control-label col-sm-3" for="a2">Answer 2:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="a2" placeholder="Enter answer">
                    </div>
                </div>
                <div class="form-group col-sm-8 col-sm-offset-2">
                    <label class="control-label col-sm-3" for="a3">Answer 3:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="a3" placeholder="Enter answer">
                    </div>
                </div>
                <div class="form-group col-sm-8 col-sm-offset-2">
                    <label class="control-label col-sm-3" for="a4">Correct answer:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="a4" placeholder="Enter correct answer">
                    </div>
                </div>
                <button type="submit">OK</button>
            </form>
        </div>
    </div>
</div>
