<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <% include header.ejs %>
  </head>
  <body>
    <% include navBar.ejs %>

    <div class="container">
      <form class="" action="/test" method="post">
        <h2 class="form-group col-sm-8 col-sm-offset-2">Create new test</h2>
        <div class="form-group col-sm-8 col-sm-offset-2">
          <label class="control-label col-sm-3" for="idtestdetail">idtestdetail:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="idtestdetail" placeholder="Enter idtestdetail">
          </div>
        </div>
        <div class="form-group col-sm-8 col-sm-offset-2">
          <label class="control-label col-sm-3" for="idclass">idclass:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="idclass" placeholder="Enter idclass">
          </div>
        </div>
        <button type="submit">OK</button>
      </form>
    </div>
  </body>
</html>
