<div class="modal fade" id="loginRoute" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="/" method="post">
            <span class="login100-form-logo">
                <img src="/images/logo.png" width="180" height="70">
            </span>
                <span class="login100-form-title p-b-34 p-t-27">
                Log in
            </span>
                <div style="display: none"><input type="text" name="action" value="loginRoute"></div>
                <div class="wrap-input100 validate-input" data-validate = "Enter username">
                    <input class="input100" type="text" name="username">
                    <span class="focus-input100" data-placeholder="Username"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        Remember me
                    </label>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>
                <div class="text-center p-t-90">
                    <a class="txt1" href="#">
                        Forgot Password?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<% if((typeof status != 'undefined') && (typeof action != 'undefined') && (action == 'login')) { %>
    Swal(
    'Good job!',
    '<%= mes %>',
    'success'
    )
<% }%>
