<!DOCTYPE html>
<html>

<head>
    <title>question</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include header.ejs%>
</head>

<body>
    <% include navBar.ejs %>
    <% include createQuestion.ejs%>
    <button class="btn btn-primary" data-toggle="modal" data-target="#createQuestion">Create New Question</button>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Content</th>
            <th>All Answers</th>
            <th>Correct Answer</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <% for (ques of question) { %>
        <tr>
            <td><%- ques.content.replace(/\n/g, '<br>') %></td>
            <td>
                <% for(var answer of ques.listIdAnswer){ %>
                    <%= answer.content %><br>
                <% } %>
            </td>
            <td><%= ques.idCorrectAnswer.content %></td>
            <td><a><i class="fas fa-edit"></i></a></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</body>

</html>
