<div class="modal fade" id="register" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="/" method="post">
            <span class="login100-form-logo">
                <img src="/images/logo.png" width="180" height="70">
            </span>
                <span class="login100-form-title p-b-34 p-t-27">
                Sign Up
            </span>
                <div style="display: none"><input type="text" name="action" value="register"></div>
                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="text" name="username">
                    <span class="focus-input100" data-placeholder="Username"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter Facebook">
                    <input class="input100" type="text" name="facebook">
                    <span class="focus-input100" data-placeholder="Facebook"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter Gmail">
                    <input class="input100" type="text" name="gmail">
                    <span class="focus-input100" data-placeholder="Gmail"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter Role">
                    <input class="input100" type="text" name="role">
                    <span class="focus-input100" data-placeholder="Role"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Sign Up
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    <% if((typeof status !== 'undefined') && (typeof action !== 'undefined') && (action == 'register')) { %>
    Swal(
        'Good job!',
        '<%= mes %>',
        'success'
    )
    <% }%>
</script>
