<!DOCTYPE html>
<html>

<head>
    <title>Subject</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include header.ejs%>
</head>

<body>
<% include navBar.ejs %>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Credits</th>
        <th>Show Question</th>
        <th>Do Test</th>
    </tr>
    </thead>
    <tbody>
    <% for (sub of subject) { %>
        <tr>
            <td><%- sub.idAccount_Subject.idSubject.name %></td>
            <td><%- sub.idAccount_Subject.idSubject.credits %></td>
            <td><a href="./question/subject/<%= sub.idAccount_Subject.idSubject._id%>" style="cursor: pointer"><i class="fas fa-th-list"></i></a></td>
            <td><a style="cursor: pointer"><i class="fas fa-file-signature"></i></a></td>
        </tr>
    <% } %>
    </tbody>
</table>
</body>

</html>
