<head>
    <title>question</title>
    <link rel='stylesheet' href='/stylesheets/test.css' />
    <% include header.ejs%>
</head>

<body>
    <% include navBar.ejs %>
    <div class="container">
        <div class="col-md-10">
            <form>
                <% for(var i=0; i < questions.length; i++){ %>
                <div style="border-radius: 25px; border: 2px solid #80e5ff; padding: 20px; margin-bottom: 10px">
                    <h4>
                        <strong>Question <%= i+1 %>: </strong>
                        <%- questions[i].Question.replace(/\n/g, '<br>') %>
                    </h4>
                    <% for(var answer of questions[i].Answers){ %>
                    <div class="form-check">
                        <label>
                            <input type="radio" name="radio<%= i %>" > <span class="label-text">
                                <%= answer.content %></span>
                        </label>
                    </div>
                    <% } %>
                </div>
                <% } %>
            </form>
        </div>
    </div>
</body>

